* {
  margin: 0;
  padding: 0;

}

body {
  font-family: "Poppins", system-ui;
  background-color: #070707;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

html {
  scroll-behavior: smooth;
}

/* scroll to top */
#progress {
  position: fixed;
  bottom: 20px;
  right: 25px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #101111;
}

#progress-value {
  display: grid;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #131212;
  border-radius: 50%;

  place-items: center;
  font-size: 35px;
  color: #7c7c7c;
}

#progress-value:hover {
  color: #989797;
}

/* scroll to top */

/*  navbar starting */
/* Navbar styling */
.navbar {
  background-color: rgb(17, 17, 17);
  padding: 30px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar .logo a {
  font-size: 34px;
  color: rgb(120, 120, 120);
  text-decoration: none;
  font-weight: 600;
}

.navbar .logo a span {
  font-weight: lighter;
  color: silver;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 25px;
}

.nav-links a {
  position: relative;
  color: rgb(179, 176, 176);
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: gray;
  transition: width 0.3s ease;
}

.ani a:hover::after {
  width: 100%;
}

.ani a:hover {
  color: #ffffff;
}

/* Mobile Hire Me Button remains unchanged */
.mobile-hire-me a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  background-color: rgb(17, 17, 17);
  border: 2px solid hwb(0 56% 44% / 0.943);
  border-radius: 25px;
  padding: 12px 38px;
  margin-left: 300px;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.mobile-hire-me a i {
  font-size: 1.3em;
  padding-right: 8px;
}

.mobile-hire-me a:hover {
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.2s linear, -webkit-text-fill-color 0.2s linear;
  border: 2px solid hwb(0 56% 44% / 0.943);
}

/* Responsive Navbar for Mobile */
.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Responsive Navbar Dropdown */
/* Popup Modal Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: rgb(17, 17, 17);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: silver;
}

.popup-content p {
  padding-top: 15px;
  padding-bottom: 30px;
}

.popup-content h1, .popup-content h2 {
  margin: 10px 0;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: silver;
}

/* Download button */
.btn {
  background-color: #2e2e2e;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  text-decoration: none;
  border: solid 1px #2e2e2e;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  background-color: #181818;
  border: solid 1px silver;
}


/* Popup Modal Styles */

/* dowload cv  */
/* Popup Modal Styles */

/* Navbar Ending */

/* General Styles */
.home-section {

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin-top: 140px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.content {
  max-width: 600px;
}

.content h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.content .name {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: rgb(149, 149, 151);
}

.content h3 {
  font-size: 57px;
  margin-top: 0px;
  margin-bottom: 20px;
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.auto-type-container {
  font-size: 40px;
  margin-top: 10px;
  font-weight: 400;
  margin-right: 10px;
  color: #ffffff;
}

.auto-type {
  color: #6f7a6f;
}

.social-icons {
  padding-left: 0px;
  margin-bottom: 20px;

}

.social-icons a {
  color: white;
  font-size: 30px;
  margin-right: 35px;
  text-decoration: none;

}

.social-icons a:hover {
  color: rgb(84, 84, 85);
}

.profile-picture img {
  width: 410px;
  height: 410px;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgb(129, 129, 130);
}

.profile-picture img:hover {
  filter: grayscale(50%);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 40px;
  background: rgb(17, 17, 17);
  position: relative;
  width: 100%;
  height: 55px;
  /* Adjust the height if needed */
  white-space: nowrap;
}

.logos-slide {
  display: inline-block;
  width: max-content;
  animation: slide 70s linear infinite;
}

.logos-slide img {
  height: 78px;
  margin: 0 40px;
  flex-shrink: 0;
  transition: transform 0.3s;
}

.logos-slide img:hover {
  transform: scale(1.2);
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 60px;
  height: 150px;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(22, 20, 20, 0), rgb(11, 9, 9));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(5, 4, 4));
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

/* Responsive styles for mobile */

/* about page */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1450px;
  margin-top: 100px;
}

.about-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 63px;
  /* Fallback color for older browsers */
}

.about-section .profile-image {
  flex: 1;
  text-align: center;
}

.about-section .profile-image img {
  width: 500px;
  height: 500px;
  border-radius: 25%;
  border-style: solid;
  border-color: #575657;
  object-fit: cover;
  filter: grayscale(50%) brightness(80%) contrast(120%) blur(0px);
  /* Default filters */
  transition: filter 0.3s ease;
  /* Smooth transition */
}

.about-section .profile-image img:hover {
  filter: grayscale(0%) brightness(100%) contrast(100%) blur(0px);
  /* Reset to normal on hover */
}

.about-section .about-text {
  flex: 2;
  padding-left: 100px;

}

.about-section .about-text h2 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;

}

.about-section .about-text h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: lighter;
}

.about-section .about-text p {
  line-height: 1.8;
  margin-bottom: 20px;
  font-size: 1.1em;
  color: #d3d3d3;
}

.about-section .about-text .buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;

}

.about-section .about-text .buttons a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;

  font-weight: lighter;
  transition: background-color 0.3s;
}

.about-section .about-text .buttons .hire-btn {
  background-color: #151414;
  border: 1px solid #070707;

}

.about-section .about-text .buttons .hire-btn:hover {
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid hwb(0 56% 44% / 0.943);
}

.cv-download-btn {
  background-color: #151414;
  border: 1px solid #070707;
}

.about-section .about-text .buttons .cv-download-btn:hover {
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid hwb(0 56% 44% / 0.943);
}


.gradient-text {
  color: white;
  font-weight: 500;

}

.white-text {
  color: rgb(53, 52, 52);
  font-weight: 500;
}

/* about ending */
/* skill page */
.skills-section {
  text-align: center;
  padding: 50px 0;
}

/* skill page */
.skills-section h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(110deg, rgb(35, 35, 36) 40%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.hover {
  background-color: black;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.hover:hover {
  background-color: #2F2F2F;
  transform: scale(1.1);
}

.skill-card {
  background-color: #070707;
  border-radius: 10px;
  padding: 30px;
  /* width: 380px;    box-shadow: rgba(75, 74, 74, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 0.5px solid #757575; */
}

.skill-card h2 {
  color: silver;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: lighter;
  font-size: 2;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #0000;
  border-radius: 30px;
  border: 2px solid #2F2F2F;
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow s ease;
  width: 400px;
}

.skill-card ul li:hover {
  background-color: #151414;
  border-color: #444444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skill-card ul li img {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  margin-right: 15px;
}

li span {
  font-size: 18px;
  color: white;
  margin-left: 40px;
  display: flex;
}

/* Responsive Design */

/* Base styles for the services section */
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  color: white;

}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services p {
  font-size: 1.2rem;
  max-width: 800px;
  margin-bottom: 2rem;
}

/* Container for the service cards */
.service-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Individual service card styling */
.service-card {
  --color: #bdbbbb;
  --border-size: 1rem;
  --bg-color: #252525;
  position: relative;
  background-color: rgb(17, 17, 17);
  width: 330px;
  /* Base width */
  height: 350px;
  /* Base height */
  margin: 2rem;
  border-radius: var(--border-size);
  color: white;
  display: grid;
  place-content: center;
  padding: 3rem 2rem;
  isolation: isolate;
  overflow: hidden;
  transition: transform 0.35s linear;
}

/* Rotate animation border */
.service-card::before,
.service-card::after {
  content: "";
  position: absolute;
}

.service-card::before {
  width: 200%;
  height: 200%;
  background-image: conic-gradient(var(--color) 0deg, transparent 60deg, transparent 180deg, var(--color) 180deg, transparent 240deg);
  inset: -50%;
  z-index: -2;
  animation: border 8s linear infinite;
}

@keyframes border {
  to {
    transform: rotateZ(-360deg);
  }
}

.service-card:hover::before {
  animation-play-state: paused;

}

/* Inner inset styling */
.service-card::after {
  --inset: 0.5rem;
  background-color: #070707;
  inset: var(--inset);
  border-radius: calc(var(--border-size) - var(--inset));
  z-index: -1;
  transition: all 0.35s linear;
}

.service-card::after:hover {}

/* Icon inside the service card */
.service-card .icon {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

/* Title and description inside the card */
.service-card h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.service-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.service-card:hover {
  transform: scale(1.05);

}

/* Read more link */
.service-card .read-more {
  text-decoration: none;
  color: white;
  background-color: #070707;
  font-weight: lighter;
  margin-top: 1rem;
  padding: 15px;
  width: 155px;
  margin-left: 80px;
  transition: color 0.35s;
  border-radius: 25px;
  border: 1px solid hwb(0 56% 44% / 0.943);
  transition: background-color 0.3s ease;
}

.service-card .read-more:hover {

  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsive adjustments */
/* Responsive adjustments */

.portfolio-section {
  padding: 4rem;
  text-align: center;
}

.portfolio-section h1 {
  font-size: 3rem;
  color: rgb(148, 147, 147);
  margin-bottom: 40px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

/* Portfolio item styles */
.portfolio-item {
  background-color: rgb(17, 17, 17);
  border-radius: 12px;
  overflow: hidden;
  padding: 12px;
  width: 105%;
  max-width: 400px;
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Image Scaling Effect */
.portfolio-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* On hover, image zooms in */
.portfolio-item:hover img {
  transform: scale(1.2);
}

/* Portfolio content */
.portfolio-content {
  padding: 1rem;
}

.portfolio-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

/* Tags styling */
.tags {
  display: flex;
  gap: 0.5rem;
}

.tag {

  background-color: #888787a4;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  color: #000000;
  margin-top: 10px;
}

/* External link styling */
.external-link {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: hsl(0, 0%, 22%);
  padding: 8px 10px;
  border-radius: 20%;
  color: #fff;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.external-link i {
  font-size: 1.8rem;
  color: silver;
}

.external-link:hover {
  background-color: #252525;
}

/* Card Hover Effect */
.portfolio-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


.container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  gap: 30px;
}

.section {
  flex: 1;
  margin: 0 10px;
}

.section h2 {
  font-size: 2em;
  color: silver;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section h2 i {
  margin-right: 10px;
  font-size: 30px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 550px;
  height: 120px;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #272627;
}

.card h3 {
  color: rgb(216, 216, 216);
  font-size: 1.2em;
  margin-bottom: 5px;
}
.card h6{
  font-size: 18px;
  color: #999;
  font-weight: 500;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.card p {
  color: #999;
}




/*  */
/* General Contact Section Styling */
.contact-section {
  width: 80%;
  margin: 70px 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-section h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.contact-section .emoji {
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background: none;
  color: inherit;
}

/* Contact Container Styling */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;

}

/* Form Container Styling */
.form-container {
  background-color: rgb(17, 17, 17);
  padding: 40px;
  border-radius: 15px;
  width: 40%;
  box-sizing: border-box;
  margin-right: 50px;
  margin-left: 150px;
}

.form-container h2 {
  color: #969697;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.form-container p {
  font-size: 0.9rem;
  color: #aaa9aa;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styling */
.form-row {
  margin-bottom: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 20px;
  background-color: #181818;
  border: none;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  /* Allows resizing vertically */
}

.submit-btn {
  width: 100%;
  background-color: #1d1d1e;
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}

.submit-btn:hover {
  background-color: #333;
}

/* Contact Details Styling */
.contact-details {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.detail-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.detail-item i {
  font-size: 30px;
  background-color: rgb(17, 17, 17);
  border-radius: 50%;
  padding: 15px;
  margin-right: 15px;
}

.detail-item span {
  font-size: 1.3rem;
}

/* Responsive Design */


/* Mobile Phones */

footer {
  background-color: #070707;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-links a:hover {
  color: #f0f0f0;
}

.footer-icons {
  margin-bottom: 30px;
}

.footer-icons a i {
  width: 30px;
  font-size: 1.8em;
  margin: 0 10px;
  color: silver;
}

.footer-icons a:hover i {
  filter: brightness(1) invert(0);
}

.footer-copyright {
  font-size: 1.2em;
  color: #ccc;
}

footer p {
  margin: 5px 0;
}

/* mobile responsive */
/* Navbar Styling for Mobile */
/* mobile responsive */
/* Navbar Styling for Mobile */
@media (max-width: 480px) {
  .navbar {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid silver;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 110px;
    left: 0;
    backdrop-filter: blur(25px);
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }

  .nav-links .ani a {
    color: silver;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }

  .mobile-hire-me a i {
    font-size: 1.3em;
    padding-right: 8px;
  }

  /* Checkbox checked state to toggle menu visibility */
  .menu-toggle:checked + .menu-icon + .nav-links {
    max-height: 500px;
  }

  .menu-icon {
    display: block;
  }

  .hire-me {
    display: none;
  }

  .mobile-hire-me {
    display: block;
    text-align: center;
  }

  .mobile-hire-me a {
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    background-color: transparent;
    margin-left: 0;
  }
}

/* Logos for Mobile */
@media (max-width: 480px) {
  .logos {
    height: 30px;
    width: 100%;
    padding-bottom: 50px;
  }

  .logos-slide img {
    height: 60px;
    margin: 0 20px;
  }

  .logos:before,
  .logos:after {
    height: 110px;
  }
}

/* Skill Section for Mobile */
@media (max-width: 480px) {
  .skill-container {
    flex-direction: column;
    align-items: center;
  }

  .skill-card {
    width: auto;
    margin-right: 0;
    margin-left: 30px;
    padding-bottom: 0;
  }

  .skill-section h1 {
    padding-bottom: 0;
  }

  .skill-card ul li {
    width: 300px;
  }
}

/* Service Cards Styling for Tablets and Mobile */
@media (max-width: 480px) {
  .service-cards {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: auto;
    height: auto;
    padding: 2rem;
    margin: 1rem 0;
    margin-right: 0;
  }

  .services h2 {
    font-size: 2rem;
  }

  .services p {
    font-size: 1rem;
  }

  .service-card .icon {
    font-size: 2.5rem;
  }

  .service-card h3 {
    font-size: 1.2rem;
  }

  .service-card p {
    font-size: 0.9rem;
  }

  .service-card .read-more {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

/* Portfolio Section for Tablets and Mobile */
@media (max-width: 768px) {
  .portfolio-section {
    padding: 2rem;
  }

  .portfolio-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .portfolio-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .portfolio-item {
    width: 100%;
    max-width: none;
  }

  .portfolio-content h2 {
    font-size: 1rem;
  }

  .tag {
    font-size: 0.8rem;
  }

  .external-link i {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .portfolio-section {
    padding: 1rem;
  }

  .portfolio-section h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }

  .portfolio-item {
    width: auto;
    max-width: none;
  }

  .portfolio-content h2 {
    font-size: 0.9rem;
  }

  .tag {
    font-size: 0.7rem;
  }

  .external-link i {
    font-size: 1.5rem;
  }
}

/* General Container and Section Styling */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .section {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .section h2 {
    font-size: 1.5em;
  }

  .card {
    width: auto;
  }

  .card h3 {
    font-size: 1em;
  }

  .title {
    font-size: 1.2em;
  }
}

/* Contact Section for Tablets and Mobile */
@media (max-width: 768px) {
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .form-container,
  .contact-details {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .contact-section {
    margin: 50px auto;
    padding: 0 20px;
  }

  .form-container,
  .contact-details {
    width: 100%;
    margin-top: 30px;
  }

  .contact-section h1 {
    font-size: 2rem;
  }

  .contact-section h2 {
    font-size: 1.5rem;
  }

  .submit-btn {
    width: 100%;
  }

  .detail-item span {
    font-size: 1rem;
  }
}

/* Footer Styling for Tablets and Mobile */
@media (max-width: 768px) {
  footer {
    padding: 30px 0;
  }

  .footer-links {
    margin-bottom: 20px;
  }

  .footer-links a {
    margin: 0 10px;
    font-size: 14px;
  }

  .footer-icons {
    margin-bottom: 30px;
  }

  .footer-icons a img {
    width: 25px;
    margin: 0 8px;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 20px 0;
  }

  .footer-links {
    margin-bottom: 15px;
  }

  .footer-links a {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    font-size: 14px;
  }

  .footer-icons {
    margin-bottom: 20px;
  }

  .footer-icons a {
    font-size: 15px;
    color: #d3d3d3;
    margin: 0px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}

/* About Section for Mobile */
@media (max-width: 480px) {
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .about-section .profile-image {
    margin-bottom: 20px;
  }

  .about-section .about-text {
    padding-left: 0;
    text-align: center;
  }

  .about-section .about-text .buttons {
    margin-left: 75px;
  }

  .about-section .about-text h2 {
    font-size: 2em;
  }

  .about-section .about-text h3 {
    font-size: 1.1em;
  }

  .about-section .about-text p {
    font-size: 1em;
  }

  .about-section .profile-image img {
    width: 300px;
    height: 300px;
  }
}

/* Home Section (Hero Section) for Mobile */
@media (max-width: 480px) {
  .home-section {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .profile-picture {
    order: -1;
    margin-bottom: 20px;
  }

  .content {
    max-width: 100%;
  }

  .content .name {
    font-size: 28px;
  }

  .content h3 {
    font-size: 35px;
  }

  .content p {
    font-size: 12px;
  }

  .auto-type-container {
    font-size: 24px;
  }

  .social-icons {
    margin-left: 15px;
    margin-bottom: 20px;
  }

  .profile-picture img {
    width: 250px;
    height: 250px;
  }
}


/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #131313;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  text-align: left;
}

.modal-header {
  text-align: center;
}

.modal-header img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid silver;
}

.modal-header h1 {
  margin: 10px 0;
  font-size: 2rem;
  color: silver;
}

.modal-header .tech-tags {
  margin-top: 10px;
}

.modal-header .tech-tag {
  background-color: #afb0b627;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
}

.modal-body p {
  font-size: 1rem;
  margin: 10px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.modal-footer {
  margin-top: 20px;
  text-align: center;
}

/* Updated QR Code styling */
.qr-code-img {
  position: absolute;
  height: 170px;
  width: 170px;
  display: inline-block;
  margin-left: 400px;
  margin-top: -20px;
  border-radius: 10px;
  border: 1px solid silver;
}

.modal-footer .btn-modal {
  padding: 13px 23px;
  background-color: transparent;
  color: silver;
  text-decoration: none;
  border-radius: 5px;
  margin: 20px;
  border: 1px solid silver;
  font-size: 1.1em;
  display: flex;
  width: 170px;
}

.modal-footer .btn-modal img {
  height: 20px;
  width: 20px;
  padding-left: 15px;
}

.modal-footer .btn-modal:hover {
  background: linear-gradient(110deg, rgb(35, 35, 36) 0%, rgba(255, 255, 255, 1) 86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {

  /* Adjust modal width for tablets */
  .modal-content {
    width: 90%;
    padding: 20px;
  }

  /* Adjust QR Code styling */
  .qr-code-img {
    position: static;
    margin: 0 auto;
    display: block;
    height: 140px;
    width: 140px;
    margin-top: 20px;
  }

  /* Adjust button width */
  .modal-footer .btn-modal {
    width: 150px;
  }
}

@media (max-width: 480px) {

  /* Adjust modal width for smaller mobile screens */
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  /* Adjust heading size */
  .modal-header h1 {
    font-size: 1.5rem;
  }

  /* Adjust QR Code styling */
  .qr-code-img {
    position: static;
    margin: 0 auto;
    display: block;
    height: 120px;
    width: 120px;
    margin-top: 15px;
  }

  /* Adjust button styling */
  .modal-footer .btn-modal {
    font-size: 1rem;
    padding: 10px 15px;
    width: 140px;
    margin-left: 90px;

  }

  .modal-footer .btn-modal img {
    height: 18px;
    width: 18px;
    padding-left: 10px;
  }

  /* Adjust padding for mobile */
  .modal-body p {
    margin: 5px 10px;
  }
}
.custom-cursor {
  width: 15px;
  height: 15px;
  position: fixed;
  /* Fixed positioning to avoid bugs with scrolling */
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid silver;
  /* Silver color */
  pointer-events: none;
  /* Ensure the custom cursor doesn't block interaction */
  transition: transform 0.1s ease;
  /* Smooth scaling when hovering */
  z-index: 1000;
  /* Keep the cursor on top */
  will-change: transform, top, left;
  /* Optimized for smooth transitions */
  transform: translate(-50%, -50%);
  /* Center the circle on the cursor */
}

/* Dragging effect */
.dragging {
  animation: dragAnimation 0.5s infinite alternate ease-in-out;
  transform: scale(1.8) translate(-50%, -50%);
  /* Increase size when dragging */
}

@keyframes dragAnimation {
  0% {
    transform: scale(1.8) translate(-50%, -50%);
  }

  100% {
    transform: scale(2) rotate(10deg) translate(-50%, -50%);
  }
}




/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #070707;
  /* Background of the scrollbar track */
  border-radius: 10px;
  /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar handle */
  border-radius: 10px;
  /* Rounded corners for the handle */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar handle on hover */
}

/* Custom scrollbar for Firefox */
html {
  border-radius: 50%;
  scrollbar-width: thin;
  /* Makes the scrollbar thinner */
  scrollbar-color: #888 #070707;
  /* Color of the scrollbar handle and track */
}


.custom-cursor {
  width: 15px;
  height: 15px;
  position: fixed;
  /* Fixed positioning to avoid bugs with scrolling */
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid silver;
  /* Silver color */
  pointer-events: none;
  /* Ensure the custom cursor doesn't block interaction */
  transition: transform 0.1s ease;
  /* Smooth scaling when hovering */
  z-index: 1000;
  /* Keep the cursor on top */
  will-change: transform, top, left;
  /* Optimized for smooth transitions */
  transform: translate(-50%, -50%);
  /* Center the circle on the cursor */
}

/* Dragging effect */
.dragging {
  animation: dragAnimation 0.5s infinite alternate ease-in-out;
  transform: scale(1.8) translate(-50%, -50%);
  /* Increase size when dragging */
}

@keyframes dragAnimation {
  0% {
    transform: scale(1.8) translate(-50%, -50%);
  }

  100% {
    transform: scale(2) rotate(10deg) translate(-50%, -50%);
  }
}
